<section class="contact">
  <h2>Contact Me</h2>

  <div class="contact-cards">
    <div class="contact-card">
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:{{ email }}">{{ email }}</a>
    </div>

    <div class="contact-card">
      <i class="fa-solid fa-phone"></i>
      <a href="tel:0977327276">0977 327 276</a>
    </div>

    <div class="contact-card">
      <i class="fa-brands fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/luan-nguyen-7347a2301/" target="_blank">LinkedIn</a>
    </div>

    <div class="contact-card">
      <i class="fa-brands fa-facebook"></i>
      <a href="https://www.facebook.com/luan.nguyen.754739/" target="_blank">Facebook</a>
    </div>

    <div class="contact-card">
      <i class="fa-brands fa-github"></i>
      <a href="https://github.com/luan0811" target="_blank">GitHub</a>
    </div>
  </div>
</section>
